docs/node-red/flows.json
[
    {
        "id": "8c28d107711c05cd",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4eb86f7bccca87c",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Tema branco",
                "default": "#4B7930",
                "baseColor": "#0094ce",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#0094ce",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "ESC Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 45,
                "sy": 45,
                "gx": 10,
                "gy": 6,
                "cx": 10,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "619c1f7e707e8ae6",
        "type": "ui_tab",
        "name": "Boia para Monitoramento e Prevenção de Inundações - Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "704b749db029c10b",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "619c1f7e707e8ae6",
        "order": 1,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c455ae49eadb2021",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bb71e117e59e5b49",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "619c1f7e707e8ae6",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74f382c1d5c39979",
        "type": "ui_group",
        "name": "Aceleração",
        "tab": "619c1f7e707e8ae6",
        "order": 4,
        "disp": false,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af6a906721c87660",
        "type": "ui_group",
        "name": "Nível da água",
        "tab": "619c1f7e707e8ae6",
        "order": 3,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da17e8bb60850124",
        "type": "ui_tab",
        "name": "Status",
        "icon": "memory",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "556a22b7bd04d450",
        "type": "ui_group",
        "name": "LoRa",
        "tab": "da17e8bb60850124",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e73f2e8f48377af4",
        "type": "ui_group",
        "name": "Acelerometer",
        "tab": "da17e8bb60850124",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "203977a880902e41",
        "type": "ui_group",
        "name": "Laser",
        "tab": "da17e8bb60850124",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8226b0218409325",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "da17e8bb60850124",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3124c0b820f66912",
        "type": "ui_group",
        "name": "Heartbeat",
        "tab": "da17e8bb60850124",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e0a8e18dcc42dae",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "Temperatura",
        "group": "704b749db029c10b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-40",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "e19fa1727279ec07",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "",
        "topic": "temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "4e0a8e18dcc42dae"
            ]
        ]
    },
    {
        "id": "e3489594e4f2f296",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "humidity",
        "topic": "humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "b7d5c4ecce856033"
            ]
        ]
    },
    {
        "id": "b7d5c4ecce856033",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "Umidade",
        "group": "bb71e117e59e5b49",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "c4294d6c0a1981af",
        "type": "ui_chart",
        "z": "8c28d107711c05cd",
        "name": "Gŕaficos das acelerações",
        "group": "74f382c1d5c39979",
        "order": 1,
        "width": "30",
        "height": "10",
        "label": "Gŕaficos das acelerações",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-90",
        "ymax": "90",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6a88a9583bcad5a1",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "distance",
        "topic": "distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "d9b5902504dd6e6a"
            ]
        ]
    },
    {
        "id": "d9b5902504dd6e6a",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "Nível da água",
        "group": "af6a906721c87660",
        "order": 1,
        "width": "10",
        "height": "6",
        "gtype": "wave",
        "title": "Nível da água",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "d42723e40b2c5144",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Angles",
        "topic": "angle/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 380,
        "wires": [
            [
                "c4294d6c0a1981af"
            ]
        ]
    },
    {
        "id": "6aab56a0f9a8f631",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "",
        "group": "e73f2e8f48377af4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Free Stack",
        "label": "bytes",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "0ea1a5bde99e74ef",
        "type": "chartjs-vertical-bar",
        "z": "8c28d107711c05cd",
        "name": "",
        "path": "charts",
        "charttitle": "Chart title",
        "xaxis": "Item",
        "yaxis": "Value",
        "x": 1130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "54e6b16f26e87ab7",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Task Acc",
        "topic": "tasks/acc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "6aab56a0f9a8f631"
            ]
        ]
    },
    {
        "id": "bda171d2e51c0f43",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Task Laser",
        "topic": "tasks/laser",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "fd969cfb8826725d"
            ]
        ]
    },
    {
        "id": "c48d21e82bef1e2c",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Task Temperature",
        "topic": "tasks/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "ef72d829409d16dc"
            ]
        ]
    },
    {
        "id": "28822282fcf6f2cd",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Task LoRa",
        "topic": "tasks/lora",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 620,
        "wires": [
            [
                "506133ba97fcc534"
            ]
        ]
    },
    {
        "id": "38fed84009fb639f",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Task Hearbeat",
        "topic": "tasks/heartbeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 680,
        "wires": [
            [
                "22e65f31b81d0c2e"
            ]
        ]
    },
    {
        "id": "415a81256061d006",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Status MPU",
        "topic": "status/mpu6050",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 740,
        "wires": [
            [
                "969f2a8c3b985033"
            ]
        ]
    },
    {
        "id": "969f2a8c3b985033",
        "type": "function",
        "z": "8c28d107711c05cd",
        "name": "Parse",
        "func": "if (msg.payload == '1')\n    msg.payload = \"Connected\";\nelse {\n    msg.payload = \"Disconnected\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 800,
        "wires": [
            [
                "50e88e79d057954b",
                "8b43d9b0dc2e06ac",
                "b327e6bd8f19bd07"
            ]
        ]
    },
    {
        "id": "50e88e79d057954b",
        "type": "ui_text",
        "z": "8c28d107711c05cd",
        "group": "e73f2e8f48377af4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status MPU",
        "label": "MPU6050",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 740,
        "wires": []
    },
    {
        "id": "69bf4ba0f1e91821",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Status Laser",
        "topic": "status/laser",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 800,
        "wires": [
            [
                "969f2a8c3b985033"
            ]
        ]
    },
    {
        "id": "db506a6140f3a49f",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Status SHT",
        "topic": "status/sht30",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 860,
        "wires": [
            [
                "969f2a8c3b985033"
            ]
        ]
    },
    {
        "id": "8b43d9b0dc2e06ac",
        "type": "ui_text",
        "z": "8c28d107711c05cd",
        "group": "203977a880902e41",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status Laser",
        "label": "TOF-10120",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 800,
        "wires": []
    },
    {
        "id": "b327e6bd8f19bd07",
        "type": "ui_text",
        "z": "8c28d107711c05cd",
        "group": "f8226b0218409325",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Status Temperature",
        "label": "SHT30",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 860,
        "wires": []
    },
    {
        "id": "7f42542b9e86de56",
        "type": "mqtt in",
        "z": "8c28d107711c05cd",
        "name": "Status Uptime",
        "topic": "status/uptime",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c455ae49eadb2021",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 920,
        "wires": [
            [
                "725d1b8ad9e9e1ff"
            ]
        ]
    },
    {
        "id": "725d1b8ad9e9e1ff",
        "type": "ui_text",
        "z": "8c28d107711c05cd",
        "group": "3124c0b820f66912",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Uptime",
        "label": "Uptime (s)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 920,
        "wires": []
    },
    {
        "id": "fd969cfb8826725d",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "",
        "group": "203977a880902e41",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Free Stack",
        "label": "bytes",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "ef72d829409d16dc",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "",
        "group": "f8226b0218409325",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Free Stack",
        "label": "bytes",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "506133ba97fcc534",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "",
        "group": "556a22b7bd04d450",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Free Stack",
        "label": "bytes",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "22e65f31b81d0c2e",
        "type": "ui_gauge",
        "z": "8c28d107711c05cd",
        "name": "",
        "group": "3124c0b820f66912",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Free Stack",
        "label": "bytes",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 680,
        "wires": []
    }
]